*{
    padding: 0;
    margin: 0;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html,body{
    height: 100%;
}
.hover:hover{
    background: #bbb;
    border:1px solid #808080 !important;
    border-right-color: #ccc !important;
    border-bottom-color: #ccc !important;
}

#mask{
    z-index: 10;
    width: 100%;
    position: absolute;
}
#restart{
    height: 30px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
button{
    width: 45px;
}
img{
    height: 95%;
    width: 95%;
    display: block;
    margin: auto;
}
td{
    text-align: center;
    font-weight: 600;
}
.num1{
    color: rgb(0,0,255);
}
.num2{
    color: rgb(0,128,0);
}
.num3{
    color: rgb(255,0,0);
}
.num4{
    color: rgb(0,0,128);
}
.num5{
    color: rgb(128,0,0);
}
.num6{
    color: rgb(0,128,128);
}
.num7{
    color: rgb(0,0,0);
}
.num8{
    color: rgb(128,128,128);
}
#pop{
    border: 1px solid black;
    width: 200px;
    height: 150px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 20;
}
.input{
    width: 100px;
    margin-top: 10px;
}
